.dropbtn {
 background-color: #a1b3a7;
 color: white;
 padding: 16px;
 font-size: 16px;
 border: none;
 z-index: 50;
}

.dropdown {
 position: relative;
 display: inline-block;
 background-color: #a1b3a7;
 z-index: 50;
}

.dropdown-content {
 display: none;
 position: absolute;
 background-color: #a1b3a7;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 50;
 box-shadow: 0px 10px 20px grey;
}

.dropdown-content a {
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
 background-color: #a1b3a7;
 z-index: 50;
}

.dropdown-content a:hover {
  background-color: #aebfb4;
  z-index: 50;
}

.dropdown:hover .dropdown-content {
  display: block;

}

.dropdown:hover .dropbtn {
  background-color: #a1b3a7;
}

.button {
}

header {
  background-color: #a1b3a7;
  box-shadow: 0px 10px 20px grey;
}

.tabeldiv {
  width: auto;
  height: auto;
  background-color: green;
  position: absolute;
  top: 120%;
  Left: 3%;

}

.tabel1 {
  position: relative;

}



.sectie1 h1 {
  position: absolute;
  left: 100px;
  top: 400px;
  align-items: center;
  font-size: 75px;
  color: white;

}
